* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(204, 204, 204);
}

html,
body {
    scroll-behavior: smooth;
    background-color: #111;
    background-color: #2b0059;

    @include small() {
        background-color: red;
    }
}

html {
    overflow-x: hidden;
    // cursor: none;
}

section {
    height: 100vh;
}