// import 

@import 'css_components/glitch';
@import 'css_components/fonts';
@import 'css_components/effects';
@import 'css_components/utils';
@import 'css_components/general';
@import 'css_components/transition';
@import 'css_components/colors';

// @import 'css_components/debug';

body {
    background: url('../img/home-banner.jpg') center center/cover;
}

#canvas {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;

    @include widescreen() {
        justify-content: space-between;
        margin: 0 50px;
    }

    @include desktop() {
        margin: 0 20px;
    }

    @include medium() {
        margin: 0 10px;
    }

    @include small() {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        margin: 0;
    }

    &-main {
        position: relative;
        // flex-basis: 10%;
        // width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include small() {
            display: block;
            z-index: 2;
        }

        .container {
            margin-top: 52px;
            font-size: 1.5rem;
            text-align: left;

            @include small() {
                margin-top: 15px;
                transform: translateY(-50px);
                // z-index: 2;
            }
        }
    }

    &-pic {
        // width: 40%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        canvas {
            @include small() {
                object-fit: cover;
                height: 300px !important;
                margin-top: 30px;
                transform: scale(0.8);
            }
        }
    }
}


.svg-wrapper {
    position: relative;
    margin: 0 auto;
    width: 320px;
    text-align: center;
}

.shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #19f6e8;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}

.text {
    font-family: 'HelveticaNeue';
    // font-family: 'Roboto Condensed';
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 8px;
    color: #fff;
    top: -48px;
    position: relative;
}

#myname {
    position: relative;
    height: 220px;

    @include medium() {
        height: 140px;
    }

    @include small() {
        height: auto;
    }

    h1 {
        font-size: 100px;
        font-family: 'Nintendoid1';
        position: absolute;

        @include desktop() {
            font-size: 80px;
        }

        @include medium() {
            font-size: 60px;
        }

        @include small() {
            font-size: 51px;
            text-align: center;
            position: relative;
            margin-bottom: 0;
            z-index: 2;
        }
    }
}

#webdev {
    display: flex;
    position: relative;
    margin-bottom: 12px;
    justify-content: flex-start;
    align-items: flex-start;

    @include small() {
        flex-direction: column;
        padding: 0 12px;
        margin-bottom: 30px;
    }

    span {
        position: relative;
        margin-right: 12px;
        font-size: 2rem !important;
        margin-bottom: 16px;

        @include small() {
            margin-bottom: 0;
        }
        &:nth-child(2){
            @include small() {
                margin-top: -12px;
            }
        }

        h3 {
            font-size: 2.2rem !important;
            font-weight: bold;
            top: 0;
            left: 0;
            width: 900px;
            position: absolute;
            color: $pink; //rgb(108, 20, 248);
            transition: all 500ms ease-in-out;
            text-transform: uppercase;

            @include small() {
                position: relative;
                font-size: 2rem !important;
            }
        }
    }
}

#gtmark {
    font-weight: bold;
    font-size: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-110%, -5px);
    font-family: Nintendoid1;
}

.skill-item{
    @include small(){
        padding: 0 12px;
        margin-bottom: 10px !important;
        &::after{
            content: '>';
            margin-left: 12px;
        }
    }
}

.attention {
    z-index: 121212;
    font-weight: bold;
    letter-spacing: 0.5rem;
    padding: 10px 24px;
    transform: translate(-50%, -50%);
    background-color: black;
    color: #fff;
    font-family: 'Chakra Petch', sans-serif;
    animation-name: flipColor;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}

@keyframes flipColor {
    0% {
        color: #fff;
        background-color: black;
    }

    49% {
        color: #fff;
        background-color: black;
    }

    50% {
        background-color: #fff;
        color: #000;
    }

    100% {
        color: #000;
        background-color: #fff;
    }
}