

.play-btn {
  cursor: pointer;
  display: inline-block;
  &:hover {
    svg {
      fill: #3e403e;
    }
  }
  &[data-volume="off"] {
    .play-icon-mute {
      display: inline-block;
    }
    .play-icon-volume {
      display: none;
    }
  }

  &[data-volume="on"] {
    .play-icon-mute {
      display: none;
    }
    .play-icon-volume {
      display: inline-block;
    }
  }
}

#player {
  display: none;
}

.github-link {
  position: absolute;
  text-decoration: none;
  outline: none;
  right: 18px;
  svg {
    fill: #686d69;
  }
  &:hover {
    svg {
      fill: #3e403e;
    }
  }
}

.heart{
  font-size:14px;
  vertical-align: middle;
  padding: 0 .3em
}
